{% extends "app/base.html" %}

{% block content %}
    <div style="display: flex;">
        <h4>
            <a href="{% url 'project-detail' project.id %}">{{ project.name }}</a>
            - Milestones
        </h4>

        <a href="{% url 'milestone-create' project.pk %}" class="btn btn-primary mb-2" style="margin-left: auto;">New</a>
    </div>

    {% for milestone in milestones %}
    <hr class="mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3><a href="{% url 'milestone-detail' project.id milestone.id %}">{{ milestone.title }}</a></h3>
            <small>{{ milestone.due_date|default_if_none:"No due date" }}</small>

            <p>
                {{ milestone.description }}
            </p>
        </div>
        <div class="col-md-6">
            <a class="text-primary" href="{% url 'milestone-update' milestone.project.id milestone.id%}">Edit</a>
            <a class="text-danger" href="{% url 'milestone-delete' milestone.project.id milestone.id%}">Delete</a>
        </div>
    </div>
    {% empty %}
        <h3 class="mt-5">                    You haven’t created any Milestones.
        </h3>
        <p>
            Use Milestones to create collections of Issues and Pull Requests for a particular release or project.

        </p>
        <tr>
            <td><a href="{% url 'milestone-create' project.pk %}"> Create your first milestone</a></td>
        </tr>
    {% endfor %}
    <hr>

{% endblock content %}
