{% extends "app/base.html" %}
{% load humanize %}

{% block content %}
<div>
    {% if user in object.project.contributors.all %}
        <a href="{% url 'milestone-update' object.project.pk object.pk %}" class="btn btn-primary mb-2 float-right" style="margin-left: auto;">Edit</a>
    {% endif %}

    <div class="row mb-3 mt-3">
        <h4>
            <a href="{% url 'project-detail' object.project.id %}">{{ object.project.name }}</a>
            -
            <a href="{% url 'milestone-list' object.project.id %}">Milestones</a>
            -
            {{ object.title }}
        </h4>
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent_done }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row mt-1">
        <small>{{ object.due_date|default_if_none:"No due date" }} | {{ percent_done }} % complete</small>
    </div>
    <div class="row">
        {{ object.description }}
    </div>

    <nav class="mt-5">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> {{ open_tasks|length  }} Open</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">{{ closed_tasks|length  }} Closed</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% for task in open_tasks %}
            <div class="row mt-1" style="border: 1px solid #ebebeb; padding: 20px; border-radius: 20px;">
                <div class="col-md-2">
                    {% if task.current_state.task_state == 'DONE' %}
                    <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">! Closed</span>
                    {% else %}
                    <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! Open</span>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <span class="font-weight-bold">
                        <h4>
                          Project <a class="article-title" href="{% url 'project-detail' task.project.id %}"> {{ task.project.name }}  </a> -
                            <a class="article-title" href="{% url 'task-detail' task.project.id task.id%}"> {{ task.title }}</a>
                        </h4>
                    </span>
                    {% for label in task.labels.all %}
                        <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
                    {% endfor %}
                    <br />
                    <small><b>{{ task.opened_state.updated_by.username  }} </b> opened this issue {{ task.opened_state.updated_on | naturaltime }}</small> <br />
                    {% if not task.milestone %}
                    {% else %}
                    Milestone -             <a href="{% url 'milestone-detail' task.project.id task.milestone.id %}">{{ task.milestone }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <hr>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% for task in closed_tasks %}
            <div class="row mt-1" style="border: 1px solid #ebebeb; padding: 20px; border-radius: 20px;">
                <div class="col-md-2">
                    {% if task.current_state.task_state == 'DONE' %}
                    <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">! Closed</span>
                    {% else %}
                    <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! Open</span>
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <span class="font-weight-bold">
                        <h4>
                          Project <a class="article-title" href="{% url 'project-detail' task.project.id %}"> {{ task.project.name }}  </a> -
                            <a class="article-title" href="{% url 'task-detail' task.project.id task.id%}"> {{ task.title }}</a>
                        </h4>
                    </span>
                    {% for label in task.labels.all %}
                        <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
                    {% endfor %}
                    <br />
                    <small><b>{{ task.opened_state.updated_by.username  }} </b> opened this issue {{ task.opened_state.updated_on | naturaltime }}</small> <br />
                    {% if not task.milestone %}
                    {% else %}
                    Milestone -             <a href="{% url 'milestone-detail' task.project.id task.milestone.id %}">{{ task.milestone }}</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <hr>
        </div>
      </div>
</div>

{% endblock content %}
