{% extends "app/base.html" %}
{% load humanize %}

{% block content %}
    <div style="display: flex;">
        <h4 class="mb-3">
            <a href="{% url 'project-detail' project.id %}">{{ project.name }}</a>
            - Board
        </h4>

        {% if user in project.contributors.all %}
          <a href="{% url 'task-create' project.pk %}" class="btn btn-primary mb-2" style="margin-left: auto;">New task</a>
        {% endif %}
    </div>

    <span class="badge badge-primary mr-1 " style="background-color: white; color: green; border: 1px solid green; ">!</span> Open
    <span class="badge badge-primary mr-1 mb-3" style="background-color: white; color: red; border: 1px solid red; ">/</span> Closed
    
    <div class="row mt-1" style="border: 1px solid #ebebeb; padding: 20px; border-radius: 20px;">
      <div class="col-md-3">
        <div class="row">
          <h4>TO DO</h4>
        </div>
        {% for task in to_do %}
        <div class="row mt-1" style="border: 1px solid #ebebeb; margin-right: 5px; padding: 20px; border-radius: 20px;">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">
              {% if task.current_state.task_state == 'DONE' %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">!</span>
                {% else %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! </span>
                {% endif %}
                <span class="font-weight-bold">
                  <a class="article-title" href="{% url 'task-detail' project.id task.id%}"> {{ task.title }}</a>
                </span>
                <br />
                <small>Opened by <b>{{ task.current_state.updated_by.username  }} </b></small> <br />
                {% for label in task.labels.all %}
                    <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
                {% endfor %}
                <br />
                {% if not task.milestone %}
                {% else %}
                Milestone - <a href="{% url 'milestone-detail' project.id task.milestone.id %}">{{ task.milestone }}</a>
                {% endif %}
                <br />

                {% if user in project.contributors.all %}
                  <a href="{% url 'progress-task' project.pk task.pk %}" class="btn btn-sm btn-primary mb-2 mt-1" style="margin-left: auto;"> > </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <hr>
      </div>
      <div class="col-md-3">
        <div class="row">
          <h4>IN PROGRESS</h4>
        </div>
        {% for task in in_progress %}
        <div class="row mt-1" style="border: 1px solid #ebebeb; margin-right: 5px; padding: 20px; border-radius: 20px;">
            <div class="col-md-2">
                {% if task.current_state.task_state == 'DONE' %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">!</span>
                {% else %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! </span>
                {% endif %}
            </div>
            <div class="col-md-10">
                <span class="font-weight-bold">
                  <a class="article-title" href="{% url 'task-detail' project.id task.id%}"> {{ task.title }}</a>
                </span>
                <br />
                <small>Opened by <b>{{ task.current_state.updated_by.username  }} </b></small> <br />
                {% for label in task.labels.all %}
                    <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
                {% endfor %}
                <br />
                {% if not task.milestone %}
                {% else %}
                Milestone - <a href="{% url 'milestone-detail' project.id task.milestone.id %}">{{ task.milestone }}</a>
                {% endif %}
                <br />
                
                {% if user in project.contributors.all %}
                  <a href="{% url 'todo-task' project.pk task.pk %}" class="btn btn-sm btn-primary mb-2 mt-1" style="margin-left: auto;"> < </a>
                  <a href="{% url 'review-task' project.pk task.pk %}" class="btn btn-sm btn-primary mb-2 mt-1" style="margin-left: auto;"> > </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <hr>
      </div>
      <div class="col-md-3">
        <div class="row">
          <h4>REVIEW</h4>
        </div>
        {% for task in review %}
        <div class="row mt-1" style="border: 1px solid #ebebeb; margin-right: 5px; padding: 20px; border-radius: 20px;">
            <div class="col-md-2">
                {% if task.current_state.task_state == 'DONE' %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">!</span>
                {% else %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! </span>
                {% endif %}
            </div>
            <div class="col-md-10">
                <span class="font-weight-bold">
                  <a class="article-title" href="{% url 'task-detail' project.id task.id%}"> {{ task.title }}</a>
                </span>
                <br />
                <small>Opened by <b>{{ task.current_state.updated_by.username  }} </b></small> <br />
                {% for label in task.labels.all %}
                    <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
                {% endfor %}
                <br />
                {% if not task.milestone %}
                {% else %}
                Milestone - <a href="{% url 'milestone-detail' project.id task.milestone.id %}">{{ task.milestone }}</a>
                {% endif %}
                <br />

                {% if user in project.contributors.all %}
                  <a href="{% url 'progress-task' project.pk task.pk %}" class="btn btn-sm btn-primary mb-2 mt-1" style="margin-left: auto;"> < </a>
                  <a href="{% url 'done-task' project.pk task.pk %}" class="btn btn-sm btn-primary mb-2 mt-1" style="margin-left: auto;"> > </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <hr>
      </div>
      <div class="col-md-3">
        <div class="row">
          <h4>DONE</h4>
        </div>
        {% for task in done %}
        <div class="row mt-1" style="border: 1px solid #ebebeb; padding: 20px; border-radius: 20px;">
            <div class="col-md-2">
                {% if task.current_state.task_state == 'DONE' %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">!</span>
                {% else %}
                <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! </span>
                {% endif %}
            </div>
            <div class="col-md-10">
                <span class="font-weight-bold">
                  <a class="article-title" href="{% url 'task-detail' project.id task.id%}"> {{ task.title }}</a>
                </span>
                <br />
                <small>Opened by <b>{{ task.current_state.updated_by.username  }} </b></small> <br />
                {% for label in task.labels.all %}
                    <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
                {% endfor %}
                <br />
                {% if not task.milestone %}
                {% else %}
                Milestone - <a href="{% url 'milestone-detail' project.id task.milestone.id %}">{{ task.milestone }}</a>
                {% endif %}
                <br />

                {% if user in project.contributors.all %}
                  <a href="{% url 'review-task' project.pk task.pk %}" class="btn btn-sm btn-primary mb-2 mt-1" style="margin-left: auto;"> < </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <hr>
      </div>
    </div>

{% endblock content %}
