{% extends "app/base.html" %}

{% block content %}

    <h3 class="mt-3">My tasks</h3>
    {% for task in tasks %}
    <hr class="mt-5">
    {% if task.current_state == 'DONE' %}
    <span class="badge badge-primary mr-1" style="background-color: white; color: red; border: 1px solid red; ">! Closed</span>
    {% else %}
    <span class="badge badge-primary mr-1" style="background-color: white; color: green; border: 1px solid green; ">! Open</span>
    {% endif %}
    <span class="font-weight-bold">
        <a class="article-title" href="{% url 'task-detail' task.project.id task.id%}"> {{ task.title }}</a>
    </span>
    {% for label in task.labels.all %}
        <span class="badge badge-primary" style="background-color: {{ label.color }}">{{ label.name }}</span>
    {% endfor %}
    <br />
    {% if not task.milestone %}
    {% else %}
    <span class="ml-5"></span>Milestone -             <a href="{% url 'milestone-detail' task.project.id task.milestone.id %}">{{ task.milestone }}</a>
    {% endif %}

    {% endfor %}
    <hr>

{% endblock content %}
