{% extends "app/base.html" %}

{% block content %}

<div style="display: flex;">

    <h4>
        <a href="{% url 'project-detail' project_id %}">{{ project_name }}</a>
        -
        <a href="{% url 'project-branches' project_id %}">Branches</a>
        -
        {{ branch_name }}
    </h4>

    <a href="https://github.com/MasterTeamFTN/uks/tree/{{ branch_name }}" class="btn btn-primary" style="margin-left: auto;" target="_blank">Show on Github</a>

</div>

<ul>
    {% for commit in commits %}
    <li>
        my commit
        <!-- <a href="https://github.com/MasterTeamFTN/uks/tree/{{ commit }}" target="_blank">{{ branch }}</a> -->

        show  link to github to see diff
        get button to see this branch on github
    </li>
    {% empty %}
    <p>This branch doesn't have any commits</p>
    {% endfor %}
</ul>

{% endblock content %}

