{% extends "app/base.html" %}

{% block content %}

<h4>
    <a href="{% url 'project-detail' project_id %}">{{ project_name }}</a> - Contributors
</h4>

{% if user.is_authenticated %}
    {% include "app/project/add_member.html" with project_id=project_id %}
{% endif %}

<p class="article-content mt-2">
    {{ contributors|length }} people have contributed to this project
</p>

<ul>
    {% for contributor in contributors %}
        <li>
            <!-- TODO: dodati link ka profilu korisnika kad se napravi ta stranica -->
            <a href="#">
                {{ contributor.first_name }} {{ contributor.last_name }} ( {{ contributor.username }} )
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'project-delete-member' project_id contributor.pk %}">Remove</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock content %}
