{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div style="display: flex;">
    <h4>All projects</h4>

    {% if user.is_authenticated %}
        <a href="{% url 'project-create' %}" class="btn btn-primary mb-2" style="margin-left: auto;">New project</a>
    {% endif %}
</div>

<div class="mb-2">
    <form action="{% url 'project-list-all' %}" method="get">
        <input name="q" type="text" placeholder="Search by project name..." />
        <button class="btn btn-outline-primary" type="submit">Search</button>
        <a href="{% url 'project-list-all' %}" class="btn btn-outline-secondary">Clear</a>
    </form>
</div>

{% for project in projects %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ project.name }}</a>
                <small class="text-muted">Last updated on {{ project.updated_on|date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'project-detail' project.id%}">{{ project.name }}</a></h2>
            <p class="article-content">{{ project.description }}</p>
        </div>
    </article>
{% empty %}

<p>No projects found :(</p>

{% endfor %}

{% endblock content %}
