{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>UKS Lab</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'app/main.css' %}" />

</head>
<body>
  <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'app-home' %}">UKS Lab</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Left side -->
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'app-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'app-about' %}">About</a>
            </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'users-login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-9">
          <!-- Alert messages -->
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}

          <!-- Main content for authenticated user -->
          {% block content %} {% endblock %}
        </div>
        {% comment %} <div class="col-md-3">
          <div class="content-section">
            <h3>Menu</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> {% endcomment %}
        {% if user.is_authenticated %}
        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
          <ul class="list-group sticky-top sticky-offset">
              <!-- Separator with title -->
              <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                  <small style="color: white;">Menu</small>
              </li>
              <!-- /END Separator -->

              <!-- Menu with submenu -->
              <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-dashboard fa-fw mr-3"></span>
                      <span class="menu-collapsed"><strong>Dashboard</strong></span>
                  </div>
              </a>

              <!-- Submenu content -->
              <div id="submenu1" class="collapse sidebar-submenu">
                  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Organisations</span>
                  </a>
                  <a href="{% url 'app-projects'%}" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Projects</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Other</span>
                  </a>
              </div>
              <a href="{% url 'profile'%}" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-user fa-fw mr-3"></span>
                      <span class="menu-collapsed"><strong>Profile</strong></span>
                  </div>
              </a>

              <!-- Submenu content -->
              <div id="submenu2" class="collapse sidebar-submenu">
                  <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                      <span class="menu-collapsed">Settings</span>
                  </a>
              </div>
              <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-tasks fa-fw mr-3"></span>
                      <span class="menu-collapsed"><strong>Tasks</strong></span>
                  </div>
              </a>

              <!-- Separator without title -->
              <li class="list-group-item sidebar-separator menu-collapsed"></li>
              <!-- /END Separator -->
              <a href="#" class="bg-dark list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-start align-items-center">
                      <span class="fa fa-question fa-fw mr-3"></span>
                      <span class="menu-collapsed"><strong>Help</strong></span>
                  </div>
              </a>
          </ul>
        </div>
      {% endif %}
      </div>
    </main>

  <!-- JS for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
