{% extends "app/base.html" %}
{% block content %}

{% if user.is_authenticated %}
    <div style="display: flex;" class="mb-2">
        <h4>Your projects</h4>
        <a class="btn btn-primary" href="{% url 'project-create' %}" style="margin-left: auto;">Create new project</a>
    </div>

    {% for project in projects %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Last updated on {{ project.updated_on|date:"F d, Y"}}</small>
                </div>
                <h3><a class="article-title" href="{% url 'project-detail' project.id%}">{{ project.name }}</a></h3>
                <p class="article-content">{{ project.description }}</p>
            </div>
        </article>
    {% endfor %}
{% else %}
    <h1>Welcome to UKS Lab</h1>
    <p>A clone of Github/Gitlab</p>
    <span>Don't have an account? </span><a href="{% url 'users-register' %}">Register here</a>
{% endif %}

{% endblock content %}
