{% extends "app/base.html" %}

{% block content %}

    <div>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'label-create' %}">Create new label</a>
    </div>
    <table class="table" style="border-collapse:separate; border-spacing: 0 15px;">
        <tbody>
            {% for label in labels %}
                <tr style="height: 10">
                    <td style="background-color: {{label.color}}">{{ label.name }}</td>
                    <td>{{ label.description }}</td>
                    <td><a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'label-edit' label.id%}">Edit</a></td>
                    <td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'label-delete' label.id%}">Delete</a></td>
                </tr>
                {% comment %} <tr class="spacer"><td></td></tr> {% endcomment %}
            {% endfor %}
        </tbody>
    </table>


{% endblock content %}
