{% extends "app/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ project.name }}</a>
                <small class="text-muted">Last updated on {{ project.updated_on|date:"F d, Y"}}</small>
            </div>
            <h2 class="article-title">{{ project.name }}</h2>
            <p class="article-content">{{ project.description }}</p>
            
            <p class="article-content">Project contributors</p>
            <ul>
            {% for contributor in project.contributors.all %}
                <li>{{ contributor.first_name }} {{ contributor.last_name }} ( {{ contributor.username }} )</li>
            {% endfor %}
            </ul>
        </div>
    </article>
{% endblock content %}